<h1>Kendo UI for Angular: Window-Dialog</h1>
<p>
  Hello fellow <b>Angular Kendoka</b>! This is a wrapper around the <a  target="_blank" href="https://www.telerik.com/kendo-angular-ui/components/dialogs/window/">Kendo Window</a> (can be moved/resized, but has no overlay), which borrows some functionality from the <a  target="_blank" href="https://www.telerik.com/kendo-angular-ui/components/dialogs/dialog/">Kendo Dialog</a> (has an overlay, but cannot be moved/resized):
</p>
<ul>
  <li>you can resize and move it</li>
  <li>it has an overlay</li>
  <li>remains centered on window scroll / resize</li>
  <li>it closes on ESC key</li>
</ul>
